%center  
  %h1 It`s Book Store!
%strong There you can:
%ul
  %li User
  %ul
    %li Upload books
    %li Set it free or close
    %li Generate coupons for download books
  %li Guest
  %ul
    %li Download books
